# <u>Web Scraping Using Pandas

<a href="https://github.com/sreyaz01/covid_19_india_data_scraping"><img src="https://i.ibb.co/B3vvzTy/0-s-Y-XTIBzlfd2zskq.png" alt="0-s-Y-XTIBzlfd2zskq" border="0"></a>

## Data Source

https://www.mohfw.gov.in/

In [1]:
# libraries

from datetime import datetime
import os
import re
import glob
import requests 
import pandas as pd

# Hide warnings
import warnings
warnings.filterwarnings('ignore')

print('Pandas Version',pd.__version__)

Pandas Version 1.0.1

## <li>Web Scrapping

In [3]:
web = requests.get('https://www.mohfw.gov.in/')
dfs = pd.read_html(web.text)

df_web = dfs[0][:-3]
df_web.drop('S. No.', axis=1, inplace = True)

df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 111 foreign Nationals),Cured/Discharged/Migrated,Deaths ( more than 70% cases due to comorbidities )
0,Andaman and Nicobar Islands,33,32,0
1,Andhra Pradesh,1650,524,36
2,Arunachal Pradesh,1,1,0
3,Assam,43,32,1
4,Bihar,528,130,4
5,Chandigarh,102,21,1
6,Chhattisgarh,58,36,0
7,Delhi,4898,1431,64
8,Goa,7,7,0
9,Gujarat,5804,1195,319
10,Haryana,517,254,6
11,Himachal Pradesh,41,34,1
12,Jammu and Kashmir,726,303,8
13,Jharkhand,115,27,3
14,Karnataka,651,321,27
15,Kerala,500,462,4
16,Ladakh,41,17,0
17,Madhya Pradesh,2942,798,165
18,Maharashtra,14541,2465,583
19,Manipur,2,2,0
20,Meghalaya,12,0,1
21,Mizoram,1,0,0
22,Odisha,169,60,1
23,Puducherry,8,5,0
24,Punjab,1233,121,23
25,Rajasthan,3061,1394,77
26,Tamil Nadu,3550,1409,31
27,Telengana,1085,585,29
28,Tripura,29,2,0
29,Uttarakhand,60,39,1
30,Uttar Pradesh,2766,802,50
31,West Bengal,1259,218,133

In [5]:
conv = ['Total Confirmed cases (Including 111 foreign Nationals)',
       'Cured/Discharged/Migrated', 'Deaths ( more than 70% cases due to comorbidities )']

df_web[conv] = df_web[conv].astype(int)

In [6]:
df_web.dtypes

Name of State / UT                                         object
Total Confirmed cases (Including 111 foreign Nationals)     int32
Cured/Discharged/Migrated                                   int32
Deaths ( more than 70% cases due to comorbidities )         int32
dtype: object

In [7]:
now  = datetime.now()
total_cnf = df_web['Total Confirmed cases (Including 111 foreign Nationals)'].sum()
print(f'\u2022 Total Confirmed Cases on {now.strftime("%b %d ,%Y")} :' ,total_cnf)

• Total Confirmed Cases on May 05 ,2020 : 46433

## <li>Data Cleaning

In [8]:
# date-time information
# ---------------------

now  = datetime.now()
df_web['Date'] = now.strftime("%m/%d/%Y") 
df_web['Date'] = pd.to_datetime(df_web['Date'], format='%m/%d/%Y')
df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 111 foreign Nationals),Cured/Discharged/Migrated,Deaths ( more than 70% cases due to comorbidities ),Date
0,Andaman and Nicobar Islands,33,32,0,2020-05-05
1,Andhra Pradesh,1650,524,36,2020-05-05
2,Arunachal Pradesh,1,1,0,2020-05-05
3,Assam,43,32,1,2020-05-05
4,Bihar,528,130,4,2020-05-05
5,Chandigarh,102,21,1,2020-05-05
6,Chhattisgarh,58,36,0,2020-05-05
7,Delhi,4898,1431,64,2020-05-05
8,Goa,7,7,0,2020-05-05
9,Gujarat,5804,1195,319,2020-05-05
10,Haryana,517,254,6,2020-05-05
11,Himachal Pradesh,41,34,1,2020-05-05
12,Jammu and Kashmir,726,303,8,2020-05-05
13,Jharkhand,115,27,3,2020-05-05
14,Karnataka,651,321,27,2020-05-05
15,Kerala,500,462,4,2020-05-05
16,Ladakh,41,17,0,2020-05-05
17,Madhya Pradesh,2942,798,165,2020-05-05
18,Maharashtra,14541,2465,583,2020-05-05
19,Manipur,2,2,0,2020-05-05
20,Meghalaya,12,0,1,2020-05-05
21,Mizoram,1,0,0,2020-05-05
22,Odisha,169,60,1,2020-05-05
23,Puducherry,8,5,0,2020-05-05
24,Punjab,1233,121,23,2020-05-05
25,Rajasthan,3061,1394,77,2020-05-05
26,Tamil Nadu,3550,1409,31,2020-05-05
27,Telengana,1085,585,29,2020-05-05
28,Tripura,29,2,0,2020-05-05
29,Uttarakhand,60,39,1,2020-05-05
30,Uttar Pradesh,2766,802,50,2020-05-05
31,West Bengal,1259,218,133,2020-05-05

In [11]:
df_web['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [12]:
# Nagaland Patient Shifted to Assam (Mentioned On Site) so Removing Nagaland from DataFrame

#index_value = (df_web[df_web['Name of State / UT'] == 'Nagaland']).index
#df_web = df_web.drop(index_value)

In [13]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Meghalaya': 25.4670 }

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882,'Meghalaya': 91.3662}

df_web['Latitude'] = df_web['Name of State / UT'].map(lat)
df_web['Longitude'] = df_web['Name of State / UT'].map(long)

df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 111 foreign Nationals),Cured/Discharged/Migrated,Deaths ( more than 70% cases due to comorbidities ),Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,32,0,2020-05-05,11.7401,92.6586
1,Andhra Pradesh,1650,524,36,2020-05-05,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-05-05,28.2180,94.7278
3,Assam,43,32,1,2020-05-05,26.2006,92.9376
4,Bihar,528,130,4,2020-05-05,25.0961,85.3131
5,Chandigarh,102,21,1,2020-05-05,30.7333,76.7794
6,Chhattisgarh,58,36,0,2020-05-05,21.2787,81.8661
7,Delhi,4898,1431,64,2020-05-05,28.7041,77.1025
8,Goa,7,7,0,2020-05-05,15.2993,74.1240
9,Gujarat,5804,1195,319,2020-05-05,22.2587,71.1924
10,Haryana,517,254,6,2020-05-05,29.0588,76.0856
11,Himachal Pradesh,41,34,1,2020-05-05,31.1048,77.1734
12,Jammu and Kashmir,726,303,8,2020-05-05,33.7782,76.5762
13,Jharkhand,115,27,3,2020-05-05,23.6102,85.2799
14,Karnataka,651,321,27,2020-05-05,15.3173,75.7139
15,Kerala,500,462,4,2020-05-05,10.8505,76.2711
16,Ladakh,41,17,0,2020-05-05,34.2996,78.2932
17,Madhya Pradesh,2942,798,165,2020-05-05,22.9734,78.6569
18,Maharashtra,14541,2465,583,2020-05-05,19.7515,75.7139
19,Manipur,2,2,0,2020-05-05,24.6637,93.9063
20,Meghalaya,12,0,1,2020-05-05,25.4670,91.3662
21,Mizoram,1,0,0,2020-05-05,23.1645,92.9376
22,Odisha,169,60,1,2020-05-05,20.9517,85.0985
23,Puducherry,8,5,0,2020-05-05,11.9416,79.8083
24,Punjab,1233,121,23,2020-05-05,31.1471,75.3412
25,Rajasthan,3061,1394,77,2020-05-05,27.0238,74.2179
26,Tamil Nadu,3550,1409,31,2020-05-05,11.1271,78.6569
27,Telengana,1085,585,29,2020-05-05,18.1124,79.0193
28,Tripura,29,2,0,2020-05-05,23.9408,91.9882
29,Uttarakhand,60,39,1,2020-05-05,30.0668,79.0193
30,Uttar Pradesh,2766,802,50,2020-05-05,26.8467,80.9462
31,West Bengal,1259,218,133,2020-05-05,22.9868,87.8550

In [14]:
df_web.isna().sum()

Name of State / UT                                         0
Total Confirmed cases (Including 111 foreign Nationals)    0
Cured/Discharged/Migrated                                  0
Deaths ( more than 70% cases due to comorbidities )        0
Date                                                       0
Latitude                                                   0
Longitude                                                  0
dtype: int64

In [15]:
# finding Null Value Row and replacing it with data
null_filt = df_web['Latitude'].isnull()
df_web.loc[null_filt]

Empty DataFrame
Columns: [Name of State / UT, Total Confirmed cases (Including 111 foreign Nationals), Cured/Discharged/Migrated, Deaths ( more than 70% cases due to comorbidities ), Date, Latitude, Longitude]
Index: []

## <li> Saving Data

In [16]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data'
#print(file_loc + '\\')
df_web.to_csv(file_loc + '\\' + file_name, index=False)

df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 111 foreign Nationals),Cured/Discharged/Migrated,Deaths ( more than 70% cases due to comorbidities ),Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,32,0,2020-05-05,11.7401,92.6586
1,Andhra Pradesh,1650,524,36,2020-05-05,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-05-05,28.2180,94.7278
3,Assam,43,32,1,2020-05-05,26.2006,92.9376
4,Bihar,528,130,4,2020-05-05,25.0961,85.3131
5,Chandigarh,102,21,1,2020-05-05,30.7333,76.7794
6,Chhattisgarh,58,36,0,2020-05-05,21.2787,81.8661
7,Delhi,4898,1431,64,2020-05-05,28.7041,77.1025
8,Goa,7,7,0,2020-05-05,15.2993,74.1240
9,Gujarat,5804,1195,319,2020-05-05,22.2587,71.1924
10,Haryana,517,254,6,2020-05-05,29.0588,76.0856
11,Himachal Pradesh,41,34,1,2020-05-05,31.1048,77.1734
12,Jammu and Kashmir,726,303,8,2020-05-05,33.7782,76.5762
13,Jharkhand,115,27,3,2020-05-05,23.6102,85.2799
14,Karnataka,651,321,27,2020-05-05,15.3173,75.7139
15,Kerala,500,462,4,2020-05-05,10.8505,76.2711
16,Ladakh,41,17,0,2020-05-05,34.2996,78.2932
17,Madhya Pradesh,2942,798,165,2020-05-05,22.9734,78.6569
18,Maharashtra,14541,2465,583,2020-05-05,19.7515,75.7139
19,Manipur,2,2,0,2020-05-05,24.6637,93.9063
20,Meghalaya,12,0,1,2020-05-05,25.4670,91.3662
21,Mizoram,1,0,0,2020-05-05,23.1645,92.9376
22,Odisha,169,60,1,2020-05-05,20.9517,85.0985
23,Puducherry,8,5,0,2020-05-05,11.9416,79.8083
24,Punjab,1233,121,23,2020-05-05,31.1471,75.3412
25,Rajasthan,3061,1394,77,2020-05-05,27.0238,74.2179
26,Tamil Nadu,3550,1409,31,2020-05-05,11.1271,78.6569
27,Telengana,1085,585,29,2020-05-05,18.1124,79.0193
28,Tripura,29,2,0,2020-05-05,23.9408,91.9882
29,Uttarakhand,60,39,1,2020-05-05,30.0668,79.0193
30,Uttar Pradesh,2766,802,50,2020-05-05,26.8467,80.9462
31,West Bengal,1259,218,133,2020-05-05,22.9868,87.8550

In [17]:
df_web.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 111 foreign Nationals)',
       'Cured/Discharged/Migrated',
       'Deaths ( more than 70% cases due to comorbidities )', 'Date',
       'Latitude', 'Longitude'],
      dtype='object')

## <li>Reading and Preparing Latest Data

In [18]:
%ls C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data

 Volume in drive C has no label.
 Volume Serial Number is 0821-B132

 Directory of C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data

05-05-2020  14:28    <DIR>          .
05-05-2020  14:28    <DIR>          ..
08-04-2020  14:52             1,571 2020_04_08.csv
09-04-2020  14:02             1,574 2020_04_09.csv
10-04-2020  14:00             1,576 2020_04_10.csv
11-04-2020  12:53             1,579 2020_04_11.csv
15-04-2020  10:12             1,638 2020_04_15.csv
16-04-2020  00:49             1,640 2020_04_16.csv
17-04-2020  15:49             1,643 2020_04_17.csv
18-04-2020  23:01             1,646 2020_04_18.csv
19-04-2020  21:20             1,603 2020_04_19.csv
20-04-2020  14:49             1,654 2020_04_20.csv
21-04-2020  15:24             1,657 2020_04_21.csv
22-04-2020  04:50             1,657 2020_04_22.csv
23-04-2020  14:29             1,659 2020_04_23.csv
24-04-2020  14:11             1,660 2020_04_24.csv
25-04-2020  22:38             1,663 2020_04_25.csv
26-04-2020  20:03             1,666 2020_04_26.csv
27-04-2020  21:30             1,669 2020_04_27.csv
02-05-2020  20:05             1,674 2020_05_02.csv
03-05-2020  18:55             1,675 2020_05_03.csv
05-05-2020  14:28             1,727 2020_05_05.csv
              20 File(s)         32,831 bytes
               2 Dir(s)  253,467,054,080 bytes free

In [26]:
loc = "C:\\Users\\sreya\\Desktop\\Pythone_File\\COVID-19_INDIA\\input\\.day_by_day_data\\"

files = glob.glob(loc +'2020*.csv')

latest_file = max(files,key=os.path.getctime)
df_temp = pd.read_csv(latest_file)

df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including ... foreign Nationals\)',
                                                    'Total Confirmed cases',x))
df_temp = df_temp.rename(columns={'Deaths ( more than 70% cases due to comorbidities )':'Death'})


df_temp.columns

Index(['Name of State / UT', 'Total Confirmed cases',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

In [27]:
df_temp['Total Confirmed cases (Indian National)'] = None
df_temp['Total Confirmed cases ( Foreign National )'] = None

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

df_temp[cols] = df_temp[cols].fillna(0).astype('int')

df_temp.tail(50)

,Name of State / UT,Total Confirmed cases,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National )
0,Andaman and Nicobar Islands,33,32,0,2020-05-05,11.7401,92.6586,0,0
1,Andhra Pradesh,1650,524,36,2020-05-05,15.9129,79.7400,0,0
2,Arunachal Pradesh,1,1,0,2020-05-05,28.2180,94.7278,0,0
3,Assam,43,32,1,2020-05-05,26.2006,92.9376,0,0
4,Bihar,528,130,4,2020-05-05,25.0961,85.3131,0,0
5,Chandigarh,102,21,1,2020-05-05,30.7333,76.7794,0,0
6,Chhattisgarh,58,36,0,2020-05-05,21.2787,81.8661,0,0
7,Delhi,4898,1431,64,2020-05-05,28.7041,77.1025,0,0
8,Goa,7,7,0,2020-05-05,15.2993,74.1240,0,0
9,Gujarat,5804,1195,319,2020-05-05,22.2587,71.1924,0,0
10,Haryana,517,254,6,2020-05-05,29.0588,76.0856,0,0
11,Himachal Pradesh,41,34,1,2020-05-05,31.1048,77.1734,0,0
12,Jammu and Kashmir,726,303,8,2020-05-05,33.7782,76.5762,0,0
13,Jharkhand,115,27,3,2020-05-05,23.6102,85.2799,0,0
14,Karnataka,651,321,27,2020-05-05,15.3173,75.7139,0,0
15,Kerala,500,462,4,2020-05-05,10.8505,76.2711,0,0
16,Ladakh,41,17,0,2020-05-05,34.2996,78.2932,0,0
17,Madhya Pradesh,2942,798,165,2020-05-05,22.9734,78.6569,0,0
18,Maharashtra,14541,2465,583,2020-05-05,19.7515,75.7139,0,0
19,Manipur,2,2,0,2020-05-05,24.6637,93.9063,0,0
20,Meghalaya,12,0,1,2020-05-05,25.4670,91.3662,0,0
21,Mizoram,1,0,0,2020-05-05,23.1645,92.9376,0,0
22,Odisha,169,60,1,2020-05-05,20.9517,85.0985,0,0
23,Puducherry,8,5,0,2020-05-05,11.9416,79.8083,0,0
24,Punjab,1233,121,23,2020-05-05,31.1471,75.3412,0,0
25,Rajasthan,3061,1394,77,2020-05-05,27.0238,74.2179,0,0
26,Tamil Nadu,3550,1409,31,2020-05-05,11.1271,78.6569,0,0
27,Telengana,1085,585,29,2020-05-05,18.1124,79.0193,0,0
28,Tripura,29,2,0,2020-05-05,23.9408,91.9882,0,0
29,Uttarakhand,60,39,1,2020-05-05,30.0668,79.0193,0,0
30,Uttar Pradesh,2766,802,50,2020-05-05,26.8467,80.9462,0,0
31,West Bengal,1259,218,133,2020-05-05,22.9868,87.8550,0,0

In [28]:
df_temp.columns

Index(['Name of State / UT', 'Total Confirmed cases',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude',
       'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )'],
      dtype='object')

In [29]:
df_temp['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
df_temp['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [30]:
sorted(df_temp['Name of State / UT'].unique())

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [31]:
df_temp.isnull().sum()

Name of State / UT                            0
Total Confirmed cases                         0
Cured/Discharged/Migrated                     0
Death                                         0
Date                                          0
Latitude                                      0
Longitude                                     0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
dtype: int64

In [32]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Name of State / UT                          32 non-null     object
 1   Total Confirmed cases                       32 non-null     int64
 2   Cured/Discharged/Migrated                   32 non-null     int32
 3   Death                                       32 non-null     int32
 4   Date                                        32 non-null     object
 5   Latitude                                    32 non-null     float64
 6   Longitude                                   32 non-null     float64
 7   Total Confirmed cases (Indian National)     32 non-null     int32
 8   Total Confirmed cases ( Foreign National )  32 non-null     int32
dtypes: float64(2), int32(4), int64(1), object(2)
memory usage: 1.9+ KB

## <li>Reading Complete Data

In [33]:
%ls C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset

 Volume in drive C has no label.
 Volume Serial Number is 0821-B132

 Directory of C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset

03-05-2020  00:18    <DIR>          .
03-05-2020  00:18    <DIR>          ..
29-04-2020  02:37    <DIR>          .ipynb_checkpoints
05-05-2020  14:22            10,122 cases_over_time_flourish.csv
05-05-2020  11:51            81,406 complete.csv
05-05-2020  11:51         5,272,434 patients_data.csv
24-04-2020  23:26               731 pop2018.csv
               4 File(s)      5,364,693 bytes
               3 Dir(s)  253,466,320,896 bytes free

In [34]:
complete_df = pd.read_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv')
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1621 entries, 0 to 1620
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        1621 non-null   object
 1   Name of State / UT                          1621 non-null   object
 2   Total Confirmed cases (Indian National)     1621 non-null   int64
 3   Total Confirmed cases ( Foreign National )  1621 non-null   int64
 4   Cured/Discharged/Migrated                   1621 non-null   int64
 5   Latitude                                    1621 non-null   float64
 6   Longitude                                   1621 non-null   float64
 7   Death                                       1621 non-null   int64
 8   Total Confirmed cases                       1621 non-null   int64
dtypes: float64(2), int64(5), object(2)
memory usage: 114.1+ KB

In [35]:
complete_df.columns.unique()

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death',
       'Total Confirmed cases'],
      dtype='object')

In [36]:
complete_df.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
1616,2020-05-05,Tamil Nadu,0,0,1409,11.1271,78.6569,31,3550
1617,2020-05-05,Telengana,0,0,585,18.1124,79.0193,29,1085
1618,2020-05-05,Tripura,0,0,2,23.9408,91.9882,0,29
1619,2020-05-05,Uttar Pradesh,0,0,802,26.8467,80.9462,50,2766
1620,2020-05-05,Uttarakhand,0,0,39,30.0668,79.0193,1,60

## <li>Preparing Final Data
#### Complete Data + Latest Data

# A Pattern While Concatenating two DataFrames:
it always insert Left DataFrame Rows below the Right DataFrame Rows.

DataFrame.drop_duplicates(subset, keep='last') will keep Last occurance of Duplicate value in given subsets and drop all Above Rows

# Solution For Solving Duplicacy in DataFrames (Gonna Happen only if you run This more than once in a day)

So in this particular Code it Will remove all the Duplicate Rows of Date and State Columns but keep Last occurance 
thats how if other column's (Confirmed, Death,etc) Values get changed on Same Date it will always keep latest value in DataFrame and Drop all Previous Row of Same Date.

In [37]:
final_df = pd.concat([complete_df,df_temp],ignore_index=True)\
                                            .drop_duplicates(subset = ['Date','Name of State / UT'],keep = 'last')\
                                            .sort_values(['Date'], ascending=True)\
                                            .reset_index(drop=True)


final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df = final_df.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

final_df.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
1617,2020-05-05,Telengana,0,0,585,18.1124,79.0193,29,1085
1618,2020-05-05,Tripura,0,0,2,23.9408,91.9882,0,29
1619,2020-05-05,Uttar Pradesh,0,0,802,26.8467,80.9462,50,2766
1620,2020-05-05,Uttarakhand,0,0,39,30.0668,79.0193,1,60
1621,2020-05-05,West Bengal,0,0,218,22.9868,87.8550,133,1259

In [38]:
final_df.isnull().sum()

Date                                          0
Name of State / UT                            0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
Cured/Discharged/Migrated                     0
Latitude                                      0
Longitude                                     0
Death                                         0
Total Confirmed cases                         0
dtype: int64

In [39]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        1622 non-null   datetime64[ns]
 1   Name of State / UT                          1622 non-null   object
 2   Total Confirmed cases (Indian National)     1622 non-null   int64
 3   Total Confirmed cases ( Foreign National )  1622 non-null   int64
 4   Cured/Discharged/Migrated                   1622 non-null   int64
 5   Latitude                                    1622 non-null   float64
 6   Longitude                                   1622 non-null   float64
 7   Death                                       1622 non-null   int64
 8   Total Confirmed cases                       1622 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 114.2+ KB

In [40]:
final_df.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv', index=False, mode = 'w+')