# <u>Web Scraping Using Pandas

In [1]:
# libraries

from datetime import datetime
import os
import re
import glob
import requests 
import pandas as pd

# Hide warnings
import warnings
warnings.filterwarnings('ignore')

print('Pandas Version',pd.__version__)

Pandas Version 1.0.1

## <li>Web Scrapping

In [2]:
web = requests.get('https://www.mohfw.gov.in/')
dfs = pd.read_html(web.text)

df_web = dfs[0][:-3]
df_web.drop('S. No.', axis=1, inplace = True)

df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andaman and Nicobar Islands,14,11,0
1,Andhra Pradesh,603,42,15
2,Arunachal Pradesh,1,0,0
3,Assam,35,12,1
4,Bihar,86,37,2
5,Chandigarh,23,10,0
6,Chhattisgarh,36,24,0
7,Delhi,1893,72,42
8,Goa,7,6,0
9,Gujarat,1376,93,53
10,Haryana,225,43,3
11,Himachal Pradesh,39,16,1
12,Jammu and Kashmir,341,51,5
13,Jharkhand,34,0,2
14,Karnataka,384,104,14
15,Kerala,400,257,3
16,Ladakh,18,14,0
17,Madhya Pradesh,1407,127,70
18,Maharashtra,3651,365,211
19,Manipur,2,1,0
20,Meghalaya,11,0,1
21,Mizoram,1,0,0
22,Nagaland#,0,0,0
23,Odisha,61,24,1
24,Puducherry,7,3,0
25,Punjab,202,27,13
26,Rajasthan,1351,183,11
27,Tamil Nadu,1372,365,15
28,Telengana,809,186,18
29,Tripura,2,1,0
30,Uttarakhand,42,9,0
31,Uttar Pradesh,969,86,14
32,West Bengal,310,62,12

In [4]:
conv = ['Total Confirmed cases (Including 77 foreign Nationals)',
       'Cured/Discharged/Migrated', 'Death']

df_web[conv] = df_web[conv].astype(int)

In [5]:
df_web.dtypes

Name of State / UT                                        object
Total Confirmed cases (Including 77 foreign Nationals)     int32
Cured/Discharged/Migrated                                  int32
Death                                                      int32
dtype: object

In [7]:
now  = datetime.now()
total_cnf = df_web['Total Confirmed cases (Including 77 foreign Nationals)'].sum()
print(f'\u2022 Total Confirmed Cases on {now.strftime("%b %d ,%Y")} :' ,total_cnf)

• Total Confirmed Cases on Apr 19 ,2020 : 15712

## <li>Data Cleaning

In [8]:
# date-time information
# ---------------------

now  = datetime.now()
df_web['Date'] = now.strftime("%m/%d/%Y") 
df_web['Date'] = pd.to_datetime(df_web['Date'], format='%m/%d/%Y')
df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date
0,Andaman and Nicobar Islands,14,11,0,2020-04-19
1,Andhra Pradesh,603,42,15,2020-04-19
2,Arunachal Pradesh,1,0,0,2020-04-19
3,Assam,35,12,1,2020-04-19
4,Bihar,86,37,2,2020-04-19
5,Chandigarh,23,10,0,2020-04-19
6,Chhattisgarh,36,24,0,2020-04-19
7,Delhi,1893,72,42,2020-04-19
8,Goa,7,6,0,2020-04-19
9,Gujarat,1376,93,53,2020-04-19
10,Haryana,225,43,3,2020-04-19
11,Himachal Pradesh,39,16,1,2020-04-19
12,Jammu and Kashmir,341,51,5,2020-04-19
13,Jharkhand,34,0,2,2020-04-19
14,Karnataka,384,104,14,2020-04-19
15,Kerala,400,257,3,2020-04-19
16,Ladakh,18,14,0,2020-04-19
17,Madhya Pradesh,1407,127,70,2020-04-19
18,Maharashtra,3651,365,211,2020-04-19
19,Manipur,2,1,0,2020-04-19
20,Meghalaya,11,0,1,2020-04-19
21,Mizoram,1,0,0,2020-04-19
22,Nagaland#,0,0,0,2020-04-19
23,Odisha,61,24,1,2020-04-19
24,Puducherry,7,3,0,2020-04-19
25,Punjab,202,27,13,2020-04-19
26,Rajasthan,1351,183,11,2020-04-19
27,Tamil Nadu,1372,365,15,2020-04-19
28,Telengana,809,186,18,2020-04-19
29,Tripura,2,1,0,2020-04-19
30,Uttarakhand,42,9,0,2020-04-19
31,Uttar Pradesh,969,86,14,2020-04-19
32,West Bengal,310,62,12,2020-04-19

In [9]:
df_web['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland#', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura',
       'Uttarakhand', 'Uttar Pradesh', 'West Bengal'], dtype=object)

In [10]:
# Nagaland Patient Shifted to Assam (Mentioned On Site) so Removing Nagaland from DataFrame

index_value = (df_web[df_web['Name of State / UT'] == 'Nagaland#']).index
df_web = df_web.drop(index_value)

In [11]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Meghalaya': 25.4670 }

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882,'Meghalaya': 91.3662}

df_web['Latitude'] = df_web['Name of State / UT'].map(lat)
df_web['Longitude'] = df_web['Name of State / UT'].map(long)

df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,14,11,0,2020-04-19,11.7401,92.6586
1,Andhra Pradesh,603,42,15,2020-04-19,15.9129,79.7400
2,Arunachal Pradesh,1,0,0,2020-04-19,28.2180,94.7278
3,Assam,35,12,1,2020-04-19,26.2006,92.9376
4,Bihar,86,37,2,2020-04-19,25.0961,85.3131
5,Chandigarh,23,10,0,2020-04-19,30.7333,76.7794
6,Chhattisgarh,36,24,0,2020-04-19,21.2787,81.8661
7,Delhi,1893,72,42,2020-04-19,28.7041,77.1025
8,Goa,7,6,0,2020-04-19,15.2993,74.1240
9,Gujarat,1376,93,53,2020-04-19,22.2587,71.1924
10,Haryana,225,43,3,2020-04-19,29.0588,76.0856
11,Himachal Pradesh,39,16,1,2020-04-19,31.1048,77.1734
12,Jammu and Kashmir,341,51,5,2020-04-19,33.7782,76.5762
13,Jharkhand,34,0,2,2020-04-19,23.6102,85.2799
14,Karnataka,384,104,14,2020-04-19,15.3173,75.7139
15,Kerala,400,257,3,2020-04-19,10.8505,76.2711
16,Ladakh,18,14,0,2020-04-19,34.2996,78.2932
17,Madhya Pradesh,1407,127,70,2020-04-19,22.9734,78.6569
18,Maharashtra,3651,365,211,2020-04-19,19.7515,75.7139
19,Manipur,2,1,0,2020-04-19,24.6637,93.9063
20,Meghalaya,11,0,1,2020-04-19,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-19,23.1645,92.9376
23,Odisha,61,24,1,2020-04-19,20.9517,85.0985
24,Puducherry,7,3,0,2020-04-19,11.9416,79.8083
25,Punjab,202,27,13,2020-04-19,31.1471,75.3412
26,Rajasthan,1351,183,11,2020-04-19,27.0238,74.2179
27,Tamil Nadu,1372,365,15,2020-04-19,11.1271,78.6569
28,Telengana,809,186,18,2020-04-19,18.1124,79.0193
29,Tripura,2,1,0,2020-04-19,23.9408,91.9882
30,Uttarakhand,42,9,0,2020-04-19,30.0668,79.0193
31,Uttar Pradesh,969,86,14,2020-04-19,26.8467,80.9462
32,West Bengal,310,62,12,2020-04-19,22.9868,87.8550

In [12]:
df_web.isna().sum()

Name of State / UT                                        0
Total Confirmed cases (Including 77 foreign Nationals)    0
Cured/Discharged/Migrated                                 0
Death                                                     0
Date                                                      0
Latitude                                                  0
Longitude                                                 0
dtype: int64

In [13]:
# finding Null Value Row and replacing it with data
null_filt = df_web['Latitude'].isnull()
df_web.loc[null_filt]

Empty DataFrame
Columns: [Name of State / UT, Total Confirmed cases (Including 77 foreign Nationals), Cured/Discharged/Migrated, Death, Date, Latitude, Longitude]
Index: []

## <li> Saving Data

In [14]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data'
#print(file_loc + '\\')
df_web.to_csv(file_loc + '\\' + file_name, index=False)

df_web.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,14,11,0,2020-04-19,11.7401,92.6586
1,Andhra Pradesh,603,42,15,2020-04-19,15.9129,79.7400
2,Arunachal Pradesh,1,0,0,2020-04-19,28.2180,94.7278
3,Assam,35,12,1,2020-04-19,26.2006,92.9376
4,Bihar,86,37,2,2020-04-19,25.0961,85.3131
5,Chandigarh,23,10,0,2020-04-19,30.7333,76.7794
6,Chhattisgarh,36,24,0,2020-04-19,21.2787,81.8661
7,Delhi,1893,72,42,2020-04-19,28.7041,77.1025
8,Goa,7,6,0,2020-04-19,15.2993,74.1240
9,Gujarat,1376,93,53,2020-04-19,22.2587,71.1924
10,Haryana,225,43,3,2020-04-19,29.0588,76.0856
11,Himachal Pradesh,39,16,1,2020-04-19,31.1048,77.1734
12,Jammu and Kashmir,341,51,5,2020-04-19,33.7782,76.5762
13,Jharkhand,34,0,2,2020-04-19,23.6102,85.2799
14,Karnataka,384,104,14,2020-04-19,15.3173,75.7139
15,Kerala,400,257,3,2020-04-19,10.8505,76.2711
16,Ladakh,18,14,0,2020-04-19,34.2996,78.2932
17,Madhya Pradesh,1407,127,70,2020-04-19,22.9734,78.6569
18,Maharashtra,3651,365,211,2020-04-19,19.7515,75.7139
19,Manipur,2,1,0,2020-04-19,24.6637,93.9063
20,Meghalaya,11,0,1,2020-04-19,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-19,23.1645,92.9376
23,Odisha,61,24,1,2020-04-19,20.9517,85.0985
24,Puducherry,7,3,0,2020-04-19,11.9416,79.8083
25,Punjab,202,27,13,2020-04-19,31.1471,75.3412
26,Rajasthan,1351,183,11,2020-04-19,27.0238,74.2179
27,Tamil Nadu,1372,365,15,2020-04-19,11.1271,78.6569
28,Telengana,809,186,18,2020-04-19,18.1124,79.0193
29,Tripura,2,1,0,2020-04-19,23.9408,91.9882
30,Uttarakhand,42,9,0,2020-04-19,30.0668,79.0193
31,Uttar Pradesh,969,86,14,2020-04-19,26.8467,80.9462
32,West Bengal,310,62,12,2020-04-19,22.9868,87.8550

In [15]:
df_web.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 77 foreign Nationals)',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

## <li>Reading and Preparing Latest Data

In [16]:
%ls C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data

 Volume in drive C has no label.
 Volume Serial Number is 0821-B132

 Directory of C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data

19-04-2020  11:44    <DIR>          .
19-04-2020  11:44    <DIR>          ..
08-04-2020  14:52             1,571 2020_04_08.csv
09-04-2020  14:02             1,574 2020_04_09.csv
10-04-2020  14:00             1,576 2020_04_10.csv
11-04-2020  12:53             1,579 2020_04_11.csv
15-04-2020  10:12             1,638 2020_04_15.csv
16-04-2020  00:49             1,640 2020_04_16.csv
17-04-2020  15:49             1,643 2020_04_17.csv
18-04-2020  23:01             1,646 2020_04_18.csv
19-04-2020  11:44             1,650 2020_04_19.csv
               9 File(s)         14,517 bytes
               2 Dir(s)  220,263,448,576 bytes free

In [17]:
loc = "C:\\Users\\sreya\\Desktop\\Pythone_File\\COVID-19_INDIA\\input\\.day_by_day_data\\"

files = glob.glob(loc +'2020*.csv')

latest_file = max(files,key=os.path.getctime)
df_temp = pd.read_csv(latest_file)

df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .. foreign Nationals\)',
                                                    'Total Confirmed cases',x))


df_temp.columns

Index(['Name of State / UT', 'Total Confirmed cases',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

In [18]:
df_temp['Total Confirmed cases (Indian National)'] = None
df_temp['Total Confirmed cases ( Foreign National )'] = None

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

df_temp[cols] = df_temp[cols].fillna(0).astype('int')

df_temp.tail(50)

,Name of State / UT,Total Confirmed cases,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National )
0,Andaman and Nicobar Islands,14,11,0,2020-04-19,11.7401,92.6586,0,0
1,Andhra Pradesh,603,42,15,2020-04-19,15.9129,79.7400,0,0
2,Arunachal Pradesh,1,0,0,2020-04-19,28.2180,94.7278,0,0
3,Assam,35,12,1,2020-04-19,26.2006,92.9376,0,0
4,Bihar,86,37,2,2020-04-19,25.0961,85.3131,0,0
5,Chandigarh,23,10,0,2020-04-19,30.7333,76.7794,0,0
6,Chhattisgarh,36,24,0,2020-04-19,21.2787,81.8661,0,0
7,Delhi,1893,72,42,2020-04-19,28.7041,77.1025,0,0
8,Goa,7,6,0,2020-04-19,15.2993,74.1240,0,0
9,Gujarat,1376,93,53,2020-04-19,22.2587,71.1924,0,0
10,Haryana,225,43,3,2020-04-19,29.0588,76.0856,0,0
11,Himachal Pradesh,39,16,1,2020-04-19,31.1048,77.1734,0,0
12,Jammu and Kashmir,341,51,5,2020-04-19,33.7782,76.5762,0,0
13,Jharkhand,34,0,2,2020-04-19,23.6102,85.2799,0,0
14,Karnataka,384,104,14,2020-04-19,15.3173,75.7139,0,0
15,Kerala,400,257,3,2020-04-19,10.8505,76.2711,0,0
16,Ladakh,18,14,0,2020-04-19,34.2996,78.2932,0,0
17,Madhya Pradesh,1407,127,70,2020-04-19,22.9734,78.6569,0,0
18,Maharashtra,3651,365,211,2020-04-19,19.7515,75.7139,0,0
19,Manipur,2,1,0,2020-04-19,24.6637,93.9063,0,0
20,Meghalaya,11,0,1,2020-04-19,25.4670,91.3662,0,0
21,Mizoram,1,0,0,2020-04-19,23.1645,92.9376,0,0
22,Odisha,61,24,1,2020-04-19,20.9517,85.0985,0,0
23,Puducherry,7,3,0,2020-04-19,11.9416,79.8083,0,0
24,Punjab,202,27,13,2020-04-19,31.1471,75.3412,0,0
25,Rajasthan,1351,183,11,2020-04-19,27.0238,74.2179,0,0
26,Tamil Nadu,1372,365,15,2020-04-19,11.1271,78.6569,0,0
27,Telengana,809,186,18,2020-04-19,18.1124,79.0193,0,0
28,Tripura,2,1,0,2020-04-19,23.9408,91.9882,0,0
29,Uttarakhand,42,9,0,2020-04-19,30.0668,79.0193,0,0
30,Uttar Pradesh,969,86,14,2020-04-19,26.8467,80.9462,0,0
31,West Bengal,310,62,12,2020-04-19,22.9868,87.8550,0,0

In [19]:
df_temp.columns

Index(['Name of State / UT', 'Total Confirmed cases',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude',
       'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )'],
      dtype='object')

In [20]:
df_temp['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
df_temp['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [21]:
sorted(df_temp['Name of State / UT'].unique())

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [22]:
df_temp.isnull().sum()

Name of State / UT                            0
Total Confirmed cases                         0
Cured/Discharged/Migrated                     0
Death                                         0
Date                                          0
Latitude                                      0
Longitude                                     0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
dtype: int64

In [23]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Name of State / UT                          32 non-null     object
 1   Total Confirmed cases                       32 non-null     int64
 2   Cured/Discharged/Migrated                   32 non-null     int32
 3   Death                                       32 non-null     int32
 4   Date                                        32 non-null     object
 5   Latitude                                    32 non-null     float64
 6   Longitude                                   32 non-null     float64
 7   Total Confirmed cases (Indian National)     32 non-null     int32
 8   Total Confirmed cases ( Foreign National )  32 non-null     int32
dtypes: float64(2), int32(4), int64(1), object(2)
memory usage: 1.9+ KB

## <li>Reading Complete Data

In [24]:
%ls C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset

 Volume in drive C has no label.
 Volume Serial Number is 0821-B132

 Directory of C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset

19-04-2020  03:24    <DIR>          .
19-04-2020  03:24    <DIR>          ..
10-04-2020  16:57    <DIR>          .ipynb_checkpoints
18-04-2020  23:04             7,749 cases_over_time.csv
18-04-2020  23:01            53,025 complete.csv
18-04-2020  23:01            53,025 complete_india.csv
18-04-2020  01:48    <DIR>          Images
10-04-2020  16:59            39,293 patient_wise_data_scrapping_and_cleaning.ipynb
10-04-2020  16:57         1,219,997 patients_data.csv
               5 File(s)      1,373,089 bytes
               4 Dir(s)  220,263,448,576 bytes free

In [25]:
complete_df = pd.read_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv')
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        1047 non-null   object
 1   Name of State / UT                          1047 non-null   object
 2   Total Confirmed cases (Indian National)     1047 non-null   int64
 3   Total Confirmed cases ( Foreign National )  1047 non-null   int64
 4   Cured/Discharged/Migrated                   1047 non-null   int64
 5   Latitude                                    1047 non-null   float64
 6   Longitude                                   1047 non-null   float64
 7   Death                                       1047 non-null   int64
 8   Total Confirmed cases                       1047 non-null   int64
dtypes: float64(2), int64(5), object(2)
memory usage: 73.7+ KB

In [26]:
complete_df.columns.unique()

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death',
       'Total Confirmed cases'],
      dtype='object')

In [27]:
complete_df.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
1042,2020-04-18,Telengana,0,0,186,18.1124,79.0193,18,791
1043,2020-04-18,Tripura,0,0,1,23.9408,91.9882,0,2
1044,2020-04-18,Uttar Pradesh,0,0,86,26.8467,80.9462,14,969
1045,2020-04-18,Uttarakhand,0,0,9,30.0668,79.0193,0,42
1046,2020-04-18,West Bengal,0,0,55,22.9868,87.8550,10,287

## <li>Preparing Final Data
#### Complete Data + Latest Data

# A Pattern While Concatenating two DataFrames:
it always insert Left DataFrame Rows below the Right DataFrame Rows.

DataFrame.drop_duplicates(subset, keep='last') will keep Last occurance of Duplicate value in given subsets and drop all Above Rows

# Solution For Solving Duplicacy in DataFrames (Gonna Happen only if you run This more than once in a day)

So in this particular Code it Will remove all the Duplicate Rows of Date and State Columns but keep Last occurance 
thats how if other column's (Confirmed, Death,etc) Values get changed on Same Date it will always keep latest value in DataFrame and Drop all Previous Row of Same Date.

In [28]:
final_df = pd.concat([complete_df,df_temp],ignore_index=True)\
                                            .drop_duplicates(subset = ['Date','Name of State / UT'],keep = 'last')\
                                            .sort_values(['Date'], ascending=True)\
                                            .reset_index(drop=True)


final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df = final_df.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

final_df.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
1074,2020-04-19,Telengana,0,0,186,18.1124,79.0193,18,809
1075,2020-04-19,Tripura,0,0,1,23.9408,91.9882,0,2
1076,2020-04-19,Uttar Pradesh,0,0,86,26.8467,80.9462,14,969
1077,2020-04-19,Uttarakhand,0,0,9,30.0668,79.0193,0,42
1078,2020-04-19,West Bengal,0,0,62,22.9868,87.8550,12,310

In [29]:
final_df.isnull().sum()

Date                                          0
Name of State / UT                            0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
Cured/Discharged/Migrated                     0
Latitude                                      0
Longitude                                     0
Death                                         0
Total Confirmed cases                         0
dtype: int64

In [30]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        1079 non-null   datetime64[ns]
 1   Name of State / UT                          1079 non-null   object
 2   Total Confirmed cases (Indian National)     1079 non-null   int64
 3   Total Confirmed cases ( Foreign National )  1079 non-null   int64
 4   Cured/Discharged/Migrated                   1079 non-null   int64
 5   Latitude                                    1079 non-null   float64
 6   Longitude                                   1079 non-null   float64
 7   Death                                       1079 non-null   int64
 8   Total Confirmed cases                       1079 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 76.0+ KB

In [31]:
final_df.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv', index=False, mode = 'w+')